@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --title-primary-color: red;
    --title-secondary-color: silver;
    --panel-color: rgba(51, 51, 51, 0.8);
    --background-color: black;
    --title-size: 28px;
    --font-family: 'Poppins', Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --text-color: white;
    --button-gradient: linear-gradient(to right, #444, #222);
    --button-hover: linear-gradient(to right, #555, #333);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------- TOP NAVBAR ---------------------- */
.top-navbar {
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    height: auto;
    background: var(--panel-color);
    color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 25px;
    flex-direction: column;
    gap: 15px;
    user-select: none;
}

.logo {
    text-align: center;
    margin-bottom: 5px;
}

.logo h1 {
    font-size: var(--title-size);
    color: var(--title-primary-color);
    display: flex;
    align-items: left;
    justify-content: left;
}

.logo .pro {
    color: var(--title-secondary-color);
    font-weight: 700;
}

.search-container {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    width: 50%;
}

.search-input {
    width: 50%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #444;
    border-radius: 20px;
    font-size: var(--font-size);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    outline: none;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 25%;
    transform: translateY(-50%);
    color: #888;
}

.filter-container {
    position: relative;
    left: 50%;
    top: -39px;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.dropdown button {
    background: var(--button-gradient);
    color: #ffffff;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
}

.dropdown button i {
    margin-right: 8px;
}

.dropdown button:hover {
    background: var(--button-hover);
}

.dropdown button:active {
    transform: translateY(1px);
}

.dropdown .content {
    display: none;
    position: absolute;
    background: #333;
    border-radius: 6px;
    padding: 10px 0;
    top: 100%;
    left: 0;
    z-index: 1001;
    min-width: 180px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
}

.dropdown .content a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
}

.dropdown .content a i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.dropdown .content a:hover {
    background: var(--button-hover);
}

.dropdown:hover .content {
    display: block;
}

/* ---------------------- buttons-container ---------------------- */
.buttons-container {
    position: fixed;
    display: flex;
    top: 170px;
    left: 0;
    height: auto;
    color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 25px;
    flex-direction: row;
    gap: 15px;
    user-select: none;
    justify-content: space-between;
    text-align: left;
    align-items: left;
}

.buttons-container button {
    background: var(--button-gradient);
    color: #ffffff;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: var(--font-family);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.1s ease;
    height: auto;
}

.buttons-container button:hover {
    background: var(--button-hover);
}

.buttons-container button:active {
    transform: translateY(1px);
}

/* ---------------------- SCROLL CONTAINER ---------------------- */
.scroll-container {
    margin-top: 190px;
    position: fixed;
    width: 90%;
    height: 70%;
    overflow-y: auto;
    border-radius: 12px;
    border: 3.5px solid gray;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 15px;
    padding: 15px;
}

.grid-item {
    position: relative;
    text-align: left;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid black;
    transition: border 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.grid-item:hover {
    border: 3px solid red;
}

.grid-item label {
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 500;
    color: #ffffff;
    top: 20px;
    left: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    word-wrap: break-word;
}

.feedback-panel {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
    backdrop-filter: blur(4px);
}

.feedback-panel a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transition: all 0.2s ease;
}

.feedback-panel i {
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.feedback-panel a:hover {
    background: rgba(255, 255, 255, 0.3);
}